@import "foundation.min.css";

pre {
  color: #0b153b;
  background: #dce3e9;
  border: 1px solid #9aa0b1;
  margin-top: 5px;
  padding: 8px;
}

.row {
  max-width: 40rem;
}

.label {
  font-size: 10px;
  font-weight: bold;
  margin-right: 3px;
}

.story-form {
  margin-top: 20px;

  input {
    display: inline-block;
    vertical-align: baseline;
  }

  input[type="text"] {
    width: 70%;
  }

  .button {
    height: 39px;
    width: 30%;
  }
}

.story {
    margin-top: 15px;

  label {
    margin-top: 5px;
  }
}
