.story-form {

  margin-top: 20px;

  input {
    display: inline-block;
    vertical-align: baseline;
  }

  input[type="text"] {
    width: 70%;
  }

  .button {
    height: 39px;
    width: 30%;
  }

}
