.story-form {
  margin-top: 40px;
}

.story {
  margin-top: 15px;
}

.story {

  label {
    margin-top: 5px;
  }

  pre {
    color: #0b153b;
    background: #dce3e9;
    border: 1px solid #9aa0b1;
    margin-top: 5px;
    padding: 10px;
  }

}
